{% extends "_main" %}

  {% block content %}

    <div id="header">
      <img src="../Logo-01.svg" class="logo-single">
    </div>

    <div class="contact">
        <h8>{{ entry.contact }}<h8>
    </div>

    

  {% endblock %}