<div class="footer-col">
  <h2>Get in touch <a href="mailto:sam@sampittman.co.uk">sam@sampittman.co.uk</a></h2>
  <h2><a href="https://www.linkedin.com/in/sam-pittman-945ab5a6/" target="new">Linkedin</a></h2>
  <h2><a href="https://www.instagram.com/sam_pittman_/" target="new">Instagram</a></h2>
</div>
