{% block nav %}

<div class="name">
<h2>Sam Pittman</h2>
</div>

<div class="nav-banner">
    <ul>
        <li><h2><a href="https://portfoliosite.nitro">work</a></h2></li>
        <li><h2><a href="https://portfoliosite.nitro/about">about</a></h2></li>
        <li><h2><a href="https://portfoliosite.nitro/contact">contact</a></h2></li>
    </ul>
</div>

{% endblock %}